<!DOCTYPE html>
<html ng-app="angler">
	<head>
		<title>Angler - A Lightweight Photo Inventory App</title>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200|Oswald' />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body ng-controller="GalleryController as gallery">
		<div class="header">
			<h1>
				Angler
			</h1>
			<h3>A Lightweight Photo Inventory App using AngularJS.</h3>
		</div>
		<div class="container">
			<div class="thumb" ng-repeat="pic in gallery.pics">
				<img ng-src="{{pic.sm}}" ng-click="gallery.show(gallery.pics.indexOf(pic))" />
			</div>
		</div>

		<div class="popup">
			<div class="prev" ng-click="gallery.browse(-1)"><span>&#x21a9;</span></div>
			<div class="popup-cont">
				<img ng-src="{{gallery.pics[gallery.current]['full']}}" />
			</div>
			<div class="next" ng-click="gallery.browse(1)"><span>&#x21aa;</span></div>
		</div>
		<div class="overlay"></div>

		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/lib.js"></script>
	</body>
</html>